*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

button{
    cursor: pointer;
    border: none;
    border-radius: 25px;
}

/* customer-base-plataform-container */
.customer-base-plataform-container{
    max-width: 1920px;
}

.customer-base-plataform-header{
    padding:12px 0;
    width:100%;
    background-color: #d61e1e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:8px;
}

.customer-base-plataform-header img{
    width:81px;
    height:70px;
}

.customer-base-plataform-header h2{
    margin-left:15px;
    font-size:25px;
}

/* back-hub-apps-control */

.back-hub-apps-control{
    position:absolute;
    margin-left:-83%;
    width:fit-content;
    display: flex;
    justify-content: center;
    padding:8px;
}

.back-hub-apps-control a{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color:white;
    transition:0.2s;
}

.back-hub-apps-control a > i {
    font-size:30px;
}

.back-hub-apps-control a > span{
    font-size:12px;
    padding-top:6px;
}

/* main-hub-section */

.main-hub-section{
    width:100%;
    margin:1.5rem 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.main-hub-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
}

.main-hub-control{
    width:33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 1rem;
}

.main-hub-control h3{
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin-bottom:0.8rem;
}

.main-hub-control h3 > i{
    margin-left: 5px;
}

.main-hub-control a{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    border-radius:25px;
    padding:10px 0;
    background-color: #a91818;
    color: #fff;
    margin-bottom:0.7rem;
    text-decoration:none;
    font-size: 19px;
    transition:0.2s;
}

.main-hub-control a:hover{
    background-color: #d61e1e;
    transition:0.2s;
}

.main-hub-control i{
    margin-right:7px;
    font-size:22px;
}

/* add-client-section */

.add-client-section{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1.5rem 0;
}

.add-client-section > div {
    width:100%;
}

.back-home-control{
    margin-left:1rem;
}

.back-home-control > button{
    width:15%;
    font-size: 14px;
    padding:8px 0;
    background-color: #a91818;
    color: #fff;
    border-radius: 25px;
    border:none;
    transition:0.2s;
    cursor:pointer;
}

.back-home-control > button:hover{
    background-color: #d61e1e;
    transition: 0.2s;
}

.back-home-control > button > i{
    margin-right:7px;
}

.add-client-container > .title-container{
    margin-top:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-client-container > .title-container h2{
    font-size: 25px;
}

.add-client-container > .title-container > .line{
    width:150px;
    background-color: #d61e1e;
    height: 2px;
    margin-top:0.2rem;
    margin-left:7rem;
}

.add-client-control{
    margin-top:1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-client-control input{
    border:1px solid #969696;
    padding:8px 0;
    font-size:15px;
    padding-left:4px;
    width: 45%;
    border-radius: 25px;
}

.add-client-control button{
    margin-top:1rem;
    padding:8px 0;
    width:20%;
    font-size: 19px;
    background-color: #0079dc;
    color: white;
    border-radius: 25px;
    border:none;
}

.add-client-control button > i{
    margin-right:7px;
}