*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

button{
    cursor: pointer;
    border: none;
    border-radius: 25px;
}

.overlay-for-loading{
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:1000;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.7);
    cursor:not-allowed;
}

.overlay-for-loading > .loading-container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.overlay-for-loading > .loading-container i{
    font-size:75px;
    margin-bottom:0.5rem;
}

.overlay-for-loading > .loading-container span{
    font-size: 25px;
}

.overlay{
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:1000;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.7);
}

/* confirmation-popup */

.confirmation-popup{
    background-color: #000;
    width:50%;
    border-radius:25px;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.confirmation-popup > #close-confirmation-popup-btn{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border:none;
    margin-left:85%;
    margin-top:0.8rem;
}

.confirmation-popup > .title-control{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmation-popup > .title-control i{
    font-size:75px;
    color: #d61e1e;
}

.confirmation-popup > .title-control h2{
    font-size:25px;
    margin-top:0.2rem;
    color:#fff;
}

.confirmation-popup > .input-control{
    margin-top:1.2rem;
    margin-bottom:1rem;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmation-popup > .input-control > .wrong-password-span{
    color:#000;
    margin-top:0.5rem;
    padding: 2px 8px;
    background-color: #d61e1e;
    font-size: 13px;
    display: none;
}

.confirmation-popup > .input-control input{
    width:35%;
    background-color: #fff;
    border:none;
    border-radius:25px;
    font-size: 15px;
    padding:8px 0;
    text-align: center;
    transition:0.2s;
}

.confirmation-popup > .input-control input:focus{
    outline: none;
    box-shadow: 0px 0px 9px 4px #d61e1e;
    transition:0.2s;
}

.confirmation-popup > .input-control button{
    width:fit-content;
    background-color: #d61e1e;
    border:none;
    border-radius:25px;
    font-size:15px;
    font-weight: 500;
    padding:5px 15px;
    margin-top:0.9rem ;
    cursor: pointer;
}


/* customer-base-plataform-container */
.customer-base-plataform-container{
    max-width: 1920px;
    /* filter: blur(9px); */
}

.customer-base-plataform-header{
    padding:12px 0;
    width:100%;
    background-color: #d61e1e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:8px;
}

.customer-base-plataform-header img{
    width:81px;
    height:70px;
}

.customer-base-plataform-header h2{
    margin-left:15px;
    font-size:25px;
}

/* back-hub-apps-control */

.back-hub-apps-control{
    position:absolute;
    margin-left:-83%;
    width:fit-content;
    display: flex;
    justify-content: center;
    padding:8px;
}

.back-hub-apps-control a{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color:white;
    transition:0.2s;
}

.back-hub-apps-control a > i {
    font-size:30px;
}

.back-hub-apps-control a > span{
    font-size:12px;
    padding-top:6px;
}

/* message-popup */

.message-popup{
    background-color: #000;
    position: fixed;
    display:none;
    width:30%;
    border-radius:15px;
    color: #fff;
    margin-left:69%;
    margin-top:33%;
}

.message-popup > .close-message-popup-btn{
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    border:none;
    margin-left:92%;
    margin-top:0.5rem;
}

.message-popup > .message-popup-control{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-popup > .message-popup-control i{
    font-size: 65px;
    margin:0.3rem 0;
}

.message-popup > .message-popup-control  > .message-popup-span{
    font-size: 17px;
    margin-bottom:0.8rem;
}

/* main-hub-section */

.main-hub-section{
    width:100%;
    margin:1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-hub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.button-container{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 85%;
    margin:0.8rem 0;
}

.button-control{
    width:33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 1rem;
}

.button-control h3{
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin-bottom:0.8rem;
}

.button-control h3 > i{
    margin-left: 5px;
}

.button-control a{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    border-radius:25px;
    padding:10px 0;
    background-color: #a91818;
    color: #fff;
    margin-bottom:0.7rem;
    text-decoration:none;
    cursor: pointer;
    font-size: 19px;
    transition:0.2s;
}

.button-control a:hover{
    background-color: #d61e1e;
    transition:0.2s;
}

.button-control i{
    margin-right:7px;
    font-size:22px;
}

/* add-client-section */

.add-client-section{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1.5rem 0;
}

.add-client-section > div {
    width:100%;
}

.back-home-control{
    margin-left:1rem;
}

.back-home-control > button{
    width:15%;
    font-size: 14px;
    padding:8px 0;
    background-color: #a91818;
    color: #fff;
    border-radius: 25px;
    border:none;
    transition:0.2s;
    cursor:pointer;
}

.back-home-control > button:hover{
    background-color: #d61e1e;
    transition: 0.2s;
}

.back-home-control > button > i{
    margin-right:7px;
}

.add-client-container > .title-container{
    margin-top:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-client-container > .title-container h2{
    font-size: 25px;
}

.add-client-container > .title-container > .line{
    width:150px;
    background-color: #d61e1e;
    height: 2px;
    margin-top:0.2rem;
    margin-left:7rem;
}

.add-client-input-control{
    margin-top:1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-client-input-control input{
    border:1px solid #969696;
    padding:8px 0;
    font-size:15px;
    padding-left:4px;
    width: 45%;
    border-radius: 25px;
}

.add-client-input-control input:focus{
    outline-color:#d61e1e;
}

.add-client-input-control button{
    margin-top:1rem;
    padding:8px 0;
    width:20%;
    font-size: 19px;
    background-color: #0364b3;
    color: white;
    border-radius: 25px;
    border:none;
    cursor: pointer;
    transition:0.2s;
}

.add-client-input-control button:hover{
    background-color: #0079dc;
    transition:0.2s;
}

.add-client-input-control button > i{
    margin-right:7px;
}

/* add-equipament-section */

.add-equipament-section{
    width:100%;
    display: none;
    justify-content: center;
    align-items: center;
    margin:1.5rem 0;
}

.add-equipament-section > div{
    width:100%;
}

.add-equipament-container > .title-container{
    margin-top:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-equipament-container > .title-container h2{
    font-size: 25px;
}

.add-equipament-container > .title-container > .line{
    width:150px;
    background-color: #d61e1e;
    height: 2px;
    margin-top:0.2rem;
    margin-left:7rem;
}

.add-equipament-container > .client-select-control{
    margin-top:1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-equipament-container > .client-select-control select{
    border:1px solid #969696;
    padding:8px 0;
    font-size:15px;
    padding-left:4px;
    width: 45%;
    border-radius: 25px;
}

.add-equipament-container > .client-select-control select:focus{
    outline:1px solid #d61e1e;
}

.add-equipament-container > .add-equipament-control{
    display: none;
}

.add-equipament-container > .add-equipament-control > .title-container{
    margin-top:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-equipament-container > .add-equipament-control > .title-container h2{
    font-size: 25px;
}

.add-equipament-container > .add-equipament-control > .title-container > .line{
    width:150px;
    background-color: #d61e1e;
    height: 2px;
    margin-top:0.2rem;
    margin-left:7rem;
}

.add-equipament-container > .add-equipament-control >.add-equipament-input-control{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:1.5rem;
}

.add-equipament-container > .add-equipament-control > .add-equipament-input-control input{
    border:1px solid #969696;
    padding:8px 0;
    font-size:15px;
    padding-left:4px;
    width: 45%;
    border-radius: 25px;
}

.add-equipament-container > .add-equipament-control > .add-equipament-input-control input:focus{
    outline:1px solid #d61e1e;
}

.add-equipament-container > .add-equipament-control > .add-equipament-input-control button{
    margin-top:1rem;
    padding:8px 0;
    width:20%;
    font-size: 19px;
    background-color: #0079dc;
    color: white;
    border-radius: 25px;
    border:none;
}