*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    max-width: 1920px;
    overflow-x: hidden;
}

section,div{
    width:100%;
}

button{
    background-color: #d61e1e;
    color:#fff;
    border-radius:25px;
    border:none;
}

/* header */

header{
    padding:12px 0;
    width:100%;
    background-color: #d61e1e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:8px;
}

header img{
    width:81px;
    height:70px;
}

header h2{
    margin-left:15px;
    font-size:25px;
}

/* back-hub-apps-control */

.back-hub-apps-control{
    position:absolute;
    margin-left:-83%;
    width:fit-content;
    display: flex;
    justify-content: center;
    padding:8px;
}

.back-hub-apps-control a{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color:#dedede;
    transition:0.2s;
}

.back-hub-apps-control a:hover{
    color:#fff;
    transition:0.2s;
}

.back-hub-apps-control a > i {
    font-size:30px;
}

.back-hub-apps-control a > span{
    font-size:12px;
    padding-top:6px;
}

/* help-page-link-control" */

.help-page-link-control{
    position:absolute;
    margin-left: 83%;
}

.help-page-link-control a{
    text-decoration:none;
    color:#dedede;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition:0.2s;
}

.help-page-link-control a:hover{
    color:#fff;
    transition:0.2s;
}

.help-page-link-control a > i{
    font-size: 30px;
}

.help-page-link-control a > span{
    font-size:12px;
    padding-top:6px;
}

/* main-hub-section */

.main-hub-section{
    margin:1.5rem 0;
    display:none;
}

.main-hub-section > .main-hub-container{
    padding:3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-hub-section > .main-hub-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a91818;
    width:30%;
    padding:10px 0;
    margin: 0 1rem;
    cursor: pointer;
    font-size: 19px;
    transition:0.2s;
}

.main-hub-section > .main-hub-container button > i{
    margin-left:7px;
    font-size:22px;
}

.main-hub-section > .main-hub-container button:hover{
    background-color:#d61e1e ;
    transition:0.2s;
}

/* consult-price-list-section */

.consult-price-list-section{
    margin-top:1.5rem;
}

/* back-home-control */

.back-home-control{
    display: flex;
    align-items:center;
    justify-content: left;
    margin-bottom:1rem;
}

.back-home-control > button{
    width:15%;
    margin-left:1rem;
    font-size: 14px;
    padding:8px 0;
    background-color: #a91818;
    color: #fff;
    border-radius: 25px;
    border:none;
    transition:0.2s;
    cursor:pointer;
}

.back-home-control > button:hover{
    background-color: #d61e1e;
    transition: 0.2s;
}

.back-home-control > button > i{
    margin-right:7px;
}

.back-home-control > h3{
    margin-left:10px;
}

/* consult-price-list-section -> search-input-container */

.consult-price-list-section > .search-input-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.consult-price-list-section > .search-input-container > *{
    margin:0 8px;
    padding:8px 0;
    border-radius:25px;
}

.consult-price-list-section > .search-input-container > #service-type_select-list{
    width:25%;
}

.consult-price-list-section > .search-input-container > .service-name-input-control{
    width:55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consult-price-list-section > .search-input-container > .service-name-input-control input{
    width:100%;
    padding:8px 0;
    padding-left:8px;
    border-radius:25px;
    border: 1px solid #969696;
}

.consult-price-list-section > .search-input-container > .service-name-input-control > .service-name-options-control{
    display:none;
    border: 1px solid #969696;
    background-color: #fff;
    width: 55%;
    border-radius:25px;
    margin-top:33px;
    overflow-y: auto;
    position: absolute;
    z-index: 1000;
    font-size:15px;
}

.consult-price-list-section > .search-input-container > .service-name-input-control > .service-name-options-control > .service-name-option{
    padding:8px 0;
    padding-left:8px;    
    transition:0.2s;
    cursor:pointer;
}

.consult-price-list-section > .search-input-container > .service-name-input-control > .service-name-options-control > .service-name-option:hover{
    background-color: #d2d2d2;
    transition:0.2s;
}

.consult-price-list-section > .search-input-container > #consult-price-list_search-btn{
    width:10%;
    cursor:pointer;
    background-color: #a91818;
    transition:0.2s;
}

.consult-price-list-section > .search-input-container > #consult-price-list_search-btn:hover{
    background-color: #d61e1e;
    transition:0.2s;
}

/* consult-price-list-section -> price-list-show-container */

.consult-price-list-section > .price-list-show-container{
    margin-top:3rem;
}