*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

#budget-finished{
    max-width: 210mm; 
    margin : 0 auto;
    /* margin-top : 2.5cm;
    margin-bottom: 2.5cm;
    margin-left: 3.5cm;
    margin-right: 3.5cm; */
}

/* budget-finished-content-container */

.budget-finished-content-container{
    width:100%;
}

/* clients-equipaments-header */

.clients-equipaments-header{
    width:100%;
    margin-top:2px;
    margin-bottom:5px;
}

