*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12pt;
}

#budget-finished{
    max-width: 210mm; 
    margin : 0 auto;
    display: none;
}

/* budget-finished-content-container */

.budget-finished-content-container{
    width:100%;
}

/* clients-equipaments-header */

.clients-equipaments-header{
    width:100%;
    margin-top:2px;
    margin-bottom:5px;
}

.header-logo-container{
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    background-color: #d61e1e;
    border-radius:25px;
}

.header-logo-control{
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0.8rem 0;
    color: white;
}    

.header-logo-control img{
    width:15%;
    height: 15%;
    margin-right:1rem;
}

.clients-equipaments-header-container > .header-title-container{
    width:100%;
    padding: 8px 0;
    margin: 5px 0;
    border-radius:25px;
    color:#000;
    width:100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.clients-equipaments-header-container > .header.title-container h3{
    width:fit-content;
}

.line-control{
    width:30%;
    display: flex;
    justify-content: center;
    align-items : center;
    margin: 0 12px 0 12px;
}

.line{
    width:100%;
    height: 2px;
    background-color: #d61e1e;
}

.budget-data-informations-container{
    width:100%;
    display: flex;
    align-items: center;
}

.client-and-equipament-container{
    width:50%;
}

.client-and-equipament-control{
    width:100%;
    display: flex;
    flex-direction: column;
}

.client-and-equipament-control h4{
    width:100%;
    color:#d61e1e;
}

.client-and-equipament-control h4 > i{
    margin-right:5px;
}

.client-and-equipament-control span{
    width:100%;
    font-weight: 500;
    font-style: italic;
    padding:20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-line-control{
    margin-right:1rem;
    width:1%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-line{
    width:2px;
    height: 100%;
    background-color: #d61e1e;
}

.other-budget-informations-container{
    width:49%;
}

.other-budget-informations-control{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.other-budget-informations-control h4{
    width:60%;
    color: #d61e1e;
}

.other-budget-informations-control h4 > i{
    margin-right:5px;
}

.other-budget-informations-control span{
    width:40%;
    font-weight: 500;
    font-style: italic;
    padding:10px 0;
    text-align: center;
}

/* aplied-parts-section */

.aplied-parts-section{
    width: 100%;
    margin-top:20px;

}

.aplied-parts-introduction-title-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d61e1e;
    padding:8px 0;
    margin-bottom:10px;
    border-radius:25px;
}

.aplied-parts-introduction-title-container > .line-control > .line{
    background-color: #fff;
}

.aplied-parts-introduction-title-container h3{
    width:fit-content;
    color: white;
}

.aplied-parts-items-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: #d61e1e;
    color: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.item-title-h4,
.quant-title-h4{
    width:10%;
    text-align: center;
    padding:2px 0;
}

.unit-value-title-h4,
.total-value-title-h4{
    width:20%;
    text-align: center;
    padding:2px 0;
}

.description-title-h4{
    width:40%;
    text-align: center;
    padding:2px 0;
}

.aplied-parts-items-container{
    background-color: #e3e3e3;
}

.aplied-parts-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    padding:12px 0;
    font-style: italic;
}

.aplied-part-number-item-span,
.aplied-part-quant-span{
    width:10%;
    text-align: center;
}

.aplied-part-description-span{
    width:40%;
    text-align: center;
}

.aplied-part-unit-value-span,
.aplied-part-total-value-span{
    width:20%;
    text-align: center;
}

.aplied-parts-items-total-container{
    width:100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #d61e1e;
    display: flex;
    justify-content: center;
    align-items:center;
}

.aplied-parts-items-total-container h4,
.aplied-parts-items-total-container span{
    width:50%;
    display: flex;
    justify-content: center;
    align-items : center;
    padding:5px 0;
    color: #fff;
}

/* services-performed-section */

.services-performed-section{
    width:100%;
    margin-top:30px;
}

.services-performed-introduction-title-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d61e1e;
    color:#fff;
    padding:8px 0;
    margin-bottom:10px;
    border-radius:25px;
}

.services-performed-introduction-title-container > .line-control > .line{
    background-color: #fff;
}

.services-performed-item-title-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #d61e1e;
    color: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.services-performed-items-container{
    background-color: #e3e3e3;
}

.services-performed-item{
    width:100%;
    display : flex;
    justify-content: center;
    align-items: center;
    padding:12px 0;
}

.serv-performed-number-item-span,
.serv-performed-quant-span{
    width:10%;
    text-align: center;
}

.serv-performed-description-span{
    width:40%;
    text-align: center;
}

.serv-performed-unit-value-span,
.serv-performed-total-value-span{
    width:20%;
    text-align:center;
}

.services-performed-items-total-container{
    width:100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #d61e1e;
    display: flex;
    justify-content: center;
    align-items:center;
}

.services-performed-items-total-container h4,
.services-performed-items-total-container span{
    width:50%;
    display: flex;
    justify-content: center;
    align-items : center;
    padding:5px 0;
    color: #fff;
}

/* observations-made-section */

.observations-made-section{
    width:100%;
    margin-top:20px;
}

.observations-made-title-container{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.observations-made-content-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:15px 0;
}

.observations-made-content-container span{
    width:90%;
    height:200px;
    border:1px solid #d61e1e; 
    border-radius:25px;
}

/* total-budget-section */

.total-budget-section{
    width:100%;
    margin:20px 0;
}

.total-budget-title-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    background-color: #d61e1e;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding:8px 0;
}


.total-budget-title-container > .line-control > .line{
    background-color: #fff;
}

.total-budget-content-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.total-of-parts-control,
.total-of-services-control{
    width:100%;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #e3e3e3;
    padding:12px 0;
    font-weight: 500;
    font-style: italic;
}

.total-of-parts-control h4,
.total-of-services-control h4,
.total-of-parts-control span,
.total-of-services-control span{
    width:50%;
    text-align: center;
}

.total-of-budget-control{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:12px 0;
    background-color: #d61e1e;
    color:#fff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.total-of-budget-control h4,
.total-of-budget-control span{
    width:50%;
    text-align: center;
}

/* document-border-division */

.document-border-division{
    margin-top:2rem;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-line{
    width:100%;
    height:1px;
    background-color:#a3a3a3;
}

/* save-document-container */

.save-document-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top:1rem;
}

.save-document-container button{
    margin: 0 2rem;
    width:50%;
    padding:8px 10px;
    border-radius:25px;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    cursor:pointer;
    opacity: 0.9;
    transition:0.2s;
    background-color: #970a0a;
    color:#fff;
}

.save-document-container button:hover{
    opacity: 1;
    transition:0.2s;
    background-color: #d61e1e;
}

.save-document-container button > i{
    margin-right:8px;
    font-size: 22px;
}

/* back-budget-container */

.back-budget-container{
    margin:2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}

.back-budget-container button{
    margin: 0 2rem;
    width:50%;
    padding:8px 10px;
    border-radius:25px;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    cursor:pointer;
    opacity: 0.9;
    transition:0.2s;
    background-color: #970a0a;
    color:#fff;
}

.back-budget-container button:hover{
    opacity: 1;
    transition:0.2s;
    background-color: #d61e1e;   
}

.back-budget-container button > i{
    margin-right:8px;
    font-size: 22px;
}