*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    /* Medidas da página == folha A4 na horizontal */
    max-width:3508px;
    min-height: 2480px;
}

.container{
    margin: 0 auto;
    padding: 0 2%;
}

/* budget-production */

#budget-production{
    width:100%;
}

/* header */

header{
    padding:12px 0;
    width:100%;
    background-color: #d61e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:8px;
}

.header-logo-control{
    width:fit-content;
    display:flex;
    align-items: center;
    justify-content: center;
}

.header-logo-control img{
    width:100%;
    height:80px;
}

.header-title-control{
    width:fit-content;
    margin-left:15px;
}

.header-title-control h2{
    color:white;
    font-size:25px;
}

/* back-home-control */

.back-home-control{
    position:absolute;
    margin-left:-83%;
    width:fit-content;
    display: flex;
    justify-content: center;
    padding:8px;
}

.back-home-control a{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color:white;
    transition:0.2s;
}

.back-home-control a > i {
    font-size:30px;
}

.back-home-control a > span{
    font-size:12px;
    padding-top:6px;
}

/* clients-equipaments-section */

.informations-section{
    width:100%;
    padding:10px 0;
}

.informations-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informations-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:8px 0;
}

.informations-title-container h2{
    font-size:25px;
}

.clients-equipaments-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:10px;
}

.clients-select-control, 
.equipaments-select-control{
    width:50%;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin:10px 0;
}

.clients-select-control h3, 
.equipaments-select-control h3{
    font-size:19px;
    margin-bottom:8px;
    display: flex;
    align-items: center;
}

.clients-select-control i, 
.equipaments-select-control i{
    font-size: 25px;
    margin-right:7px;
    color:#d61e1e;
}

#clients-select-list,
#equipaments-select-list{
    width:90%;
    font-size:15px;
    text-align: center;
    padding:5px 0;
    padding-left:5px;
    border-radius:25px;
    margin-top:5px;
    border : 1px solid #969696;
}

#clients-select-list:focus,
#equipaments-select-list:focus{
    border-color:#d61e1e;
    outline-color: #d61e1e;
}

.general-information-container{
    width:100%;
    display: flex;
    justify-content: center;
}

.general-information-container > .general-information-control{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:10px 0;
}

.date-control,
.completion-deadline-control,
.payment-terms-control,
.guarantee-control{
    width:25%;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.general-information-control h3{
    font-size:19px;
    margin-bottom:8px;
    display: flex;
    align-items: center;
}

.general-information-control i{
    font-size: 25px;
    margin-right:7px;
    color:#d61e1e;
}

.date-control input,
.completion-deadline-control input,
.payment-terms-control input,
.guarantee-control input{
    width:90%;
    font-size:15px;
    padding:5px 0;
    text-align: center;
    padding-left:5px;
    border-radius:25px;
    margin-top:5px;
    border : 1px solid #969696;
}

.date-control input:focus,
.completion-deadline-control input:focus,
.payment-terms-control input:focus,
.guarantee-control input:focus{
    border-color:#d61e1e;
    outline-color: #d61e1e;
}

.next-step-container{
    width:100%;
    display: flex;
    justify-content: right;
    margin-top:15px;
}

.next-step-control{
    width:15%;
}

#informations-next-btn{
    width:100%;
    border-radius:25px;
    color:#d61e1e;
    background-color: transparent;
    border: 1px solid #d61e1e;
    font-size:19px;
    padding:4px;
    transition:0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#informations-next-btn:hover{
    background-color: #d61e1e;
    color: white;
    transition: 0.2s;
}

#informations-next-btn i{
    padding:0 3px;
}

/* parts-section */

.parts-section{
    width: 100%;
    padding:10px 0;
}

.parts-container{
    width:100%;
}

.parts-title-container{
    width:100%;
    display: flex;
    justify-content: center;
}

.parts-title-container h2{
    font-size:25px;
}

.parts-input-control{
    display:flex;
    align-items : center;
    justify-content: center;
    margin-top:25px;
}

.quant-control,
.unit-value-control,
.add-item-control{
    width:10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part-description-control{
    width:70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parts-input-control input{
    width:95%;
    font-size:15px;
    padding:5px 0;
    text-align: center;
    padding-left:5px;
    border-radius:25px;
    margin-top:5px;
    border : 1px solid #969696;
}

.parts-input-control input:focus{
    border-color:#d61e1e;
    outline-color:#d61e1e;
}

.add-item-control button{
    width:95%;
    border-radius:25px;
    padding: 5px 0;
    margin-top:5px;
    background-color: #07bf04;
    color:white;
    border:none;
    cursor:pointer;
}

.add-item-control button:hover{
    background-color: #059303;
    transition:0.2s;
}

/* services-section */

.services-section{
    width:100%;
    padding:10px 0;
}

.services-container{
    width:100%;
}

.services-title-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-title-container h2{
    font-size:25px;
}

.services-input-control{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}