*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* Medidas da página == folha A4 na horizontal */
    max-width:3508px;
    max-height: 2480px;
}

.select-control{
    width:50%;
    display:flex;
    justify-content: center;
}

#client-select-list{
    width:100%;
}